@import "home";
.ar {
  .home-page {
    /*start shooth-sec-  */
    .shooth-sec {
      .shooth-inner {
     
       
  
        .shooth-content {
          .top-shooth {
            .top_vector-right,
            .top_vector-left {
               right:unset ;
              left: -113px;
            }
            .top_vector-left {
            
              left: unset;
              right:-121px ;
            }
          }
  
        }
      }
    }
    /* end shooth-sec- */
    /*start event-section  */
    .event-section,
    .media-highlights-section {
      .confernces-sec,
      .media-highlights {
       
        .event-card,
        .media-highlights-card {
         
         
          .content {
            left: unset;
            right: 0;
          }
        
          span {
            left:unset ;
            right:70% ;
            transform: translateX(-25%);
           
          }
           

         
        }
      }
      .owl-nav {
        right: unset;
        left: 0;
  
      }
    }
    /* end event-section */
    /*start media-highlights  */
    .media-highlights-section {
      .media-highlights {
      .nav-tabs {
        .nav-item {
          .nav-link {
            &.active {
              &::after {
                left: 8%;
              }
            }
          }
        }
      }
      .icon-play {
        left: 50%;
      }
     
    }
    /* end media-highlights*/
  }
  
  @media screen and (max-width: 769px) {
    /*start event-section  */
    .event-section,
    .media-highlights-section  {
          .owl-nav {

             right: -65px unset;
       left: -65 !important;
         
      }
    }
  }
  
  
 
  
}  }
